@charset "UTF-8";

/* header */

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-color: transparent;
}

.bi-list{
    color: white;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

/* footer */

.instagram { color: white; }
.tiktok { color: white }
.twitter { color: white; }
.facebook { color: white; }

/* colunas */

.col-md-4 {
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: justify;
}

.col-lg-4 {
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: justify;
}

.col-lg-8 {
    color: rgb(0, 0, 0);
    text-align: justify;
    margin-bottom: 10px;
    padding: 10px 20px;
}

/* header */

.bg-custom {
    background-color: #2d62b9;
}

/* index */

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

footer a {
    color: #ccc;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    color: #fff;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    color: #ffffff;
}

.nav-footer img {
    margin-left: 10px;
}



@media (max-width: 700px) {
    footer {
        display: flex;
        flex-direction: column;
    }

    footer nav {
        margin: 0;
        padding: 10px 0;
    }

    .nav-footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .footer {
        padding: 0 5px;
    }
}

/* business */

.mainBusiness {
    text-align: justify;
}

.main-content {
    padding: 40px 0;
}

.main-image {
    background-color: #777;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.buttons .btn {
    width: 100%;
    margin-top: 10px;
    background-color:#0B5ED7;
    border: none;
    padding: 10px;
    color: #fff;
}

.form-container input,
.form-container textarea {
    margin-top: 10px;
}

.form-container button {
    background-color: #0B5ED7;
    color: white;
    border: none;
    width: 100%;
    margin-top: 10px;
}

.imagemBusiness {
    height: 700px;
    width: 500px;
}

.duvidaBusiness {
    margin-top: 30px;
}

@media (max-width: 700px) {

    .imagemBusiness {
        height: 400px;
        width: 300px;
    }

}

/* INGRESSOS */

.top-image {
    width: 100%;
    padding-top: 56.25%;
    background-color: #777;
    border-radius: 8px;
    position: relative;
}

.ticket-item {
    width: 100%;
    padding-top: 125%;
    background-color: #555;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.ticket-item:hover {
    transform: scale(1.05);
}

.ticket-item button {
    background-color: #555;
    color: #e0e0e0;
    border: none;
    padding: 10px 20px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

/* localizacao */

.colunasLocalizacao {
    padding: 20px;
    display: block;
    justify-content: center;
    text-align: justify;
}

@media (max-width: 700px) {

    .imgLocalizacao {
        height: 100%;
        width: 100%;
        justify-content: center;
    }

}

/* noticias */

.articleNoticias {
    max-width: 90%;
    margin: auto;
}

.sectionNoticias {
    display: flex;
    justify-content: center;
}

.linha {
    margin-bottom: 2%;
}

.linha-6 {
    display: flex;
    flex-direction: column;
}

@media (max-width: 500px) {

    .cardNoticias {
        display: flex;
        flex-direction: column;
    }

}

/* programacao */

.articleProgramacao {
    max-width: 90%;
    margin: auto;
    text-align: justify;
}

.sectionProgramacao {
    display: flex;
    justify-content: center;
}

.bodertotal {
    border-radius: 100%;
}

/* faq, quem somos e normas */

.mainFAQ {
    text-align: justify;
}

.mainNormas {
    text-align: justify;
}

.textNormas {
    padding: 20px 0px;
}

.article {
    padding: 30px;
    text-align: justify;
    display: block;
}

/* listar */

.bodyListar {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}
th, td {
    padding: 10px 15px;
    text-align: left;
    border: 1px solid #ddd;
}
th {
    background-color: #007BFF;
    color: white;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #e9f5e9;
}
a {
    color: #007BFF;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.listarButton{
    text-align: center;
}

.listar {
    padding: 10px 20px;
    background: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.9rem;
    transition: background 0.3s ease;
}

/* leitura */

.bodyLeitura {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.leitura {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
}

.leitura h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #0056b3;
}

.info {
    margin-bottom: 15px;
}

.info span {
    font-weight: bold;
}

.button-container-leitura {
    text-align: center;
}

.button-leitura {
    padding: 10px 20px;
    background: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.9rem;
    transition: background 0.3s ease;
}

.button:hover {
    background: #003f7d;
}

/* tela cadastro do form */

.bodyForm {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.mainFormCadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.mainForm {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.mainForm h2 {
    color: #333;
    margin-bottom: 10px;
}

.mainForm p {
    color: #555;
    font-size: 14px;
}

.button-container-form {
    text-align: center;
    padding: 10px;
}

.button-form {
    padding: 10px 20px;
    background: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.9rem;
    transition: background 0.3s ease;
}

.button-form:hover {
    background: #003f7d;
}

/* noticias */
.articleNoticias {
    max-width: 90%;
    margin: auto;
}
.sectionNoticias {
    display: flex;
    justify-content: center;
}

.linha {
    margin-bottom: 2%;
    gap: 1%;
    max-width: 98%;
    
    
}

.linha-6 {
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;

}

/* localização */




.articleLocalizacao {
    max-width: 90%;
    margin: auto;
}

.sectionLocalizacao {
    display: flex;
    justify-content: center;
}

/* programação */

.articleProgramacao {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
}

.sectionprogramacao {
    text-align: justify;
}

.card-body {
    text-align: justify;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}


.img-responsive {
    width: 100%;
    height: auto;
}

.card-title {
    margin-bottom: 1rem; 
}

/* noticias */


.articleNoticias {
    margin-top: 20px;
    padding: 20px 0;
}

.card img {
    height: 200px;
    object-fit: cover;
}

.btn-voltar {
    margin-top: 20px;
}
